$def with (posts,table,title_list,id)
$var title: 图书馆
$var table: $table
$ name_list={'bno':'书籍序号','category':'书籍类别','title':'书籍标题','press':'出版社','year':'出版年份','price':'书籍价格','total':'全部库存','stock':'剩余册数','cno':'借书卡序号','name':'持有人姓名','department':'所在学院','type':'借书卡类型','borrow_date':'借出日期','return_date':'归还日期','id':'管理员序号','tel':'联系方式'}
<div class="container" align='center'>
<form action="" enctype="multipart/form-data" method="post" role="form" id="form_id" name="form_id"  >
<input type="hidden" id='table' name='table' value='$table'  >
<input type="hidden" id='operate' name='operate' value='select'  >
<input type="hidden" id='unique' name='unique' value=''  >
<table class='table table-striped table-hover  text-center'>
$if table=='book':
    <tr>
    <td>
        <input type="file" class="form-control " name="booklists" /></td>
    <td>
        <button type="submit" form="form_id" class="btn btn-success glyphicon glyphicon-arrow-up" onmousedown="document.form_id.operate.value='insert'"> </button></td>
    </tr>
</table>
<table class='table table-striped table-hover  text-center' >
<tr >
<th></th>
$for TITLE in title_list:
    <th class='text-center'>$name_list[TITLE]</th>
<th></th>
</tr>
$if table!='manager':
    <tr>
    <td >
    <button type="submit" form="form_id" class="btn btn-success glyphicon glyphicon-plus" onmousedown="document.form_id.operate.value='insert'"> </button>

    </td>
    $for TITLE in title_list:
        <td class="form-group" >
        $if table=='borrow' and TITLE=='id':
            <input type="text" class="form-control" id='$TITLE' name='$TITLE' value='$id' >
        $else:
            <input type="text" class="form-control" id='$TITLE' name='$TITLE' >
        </td>
    <td >
    <button type="submit" form="form_id" class="btn btn-success glyphicon glyphicon-search" onmousedown="document.form_id.operate.value='select'"> </button>
    </td>
    </tr>
$for each_row in posts:
	<tr>
    <td></td>
	$for TITLE in title_list:
		<td>$each_row[TITLE]</td>
    $if table in ['book','card']:
        <td >
        $ unique=each_row[title_list[0]]
        <button type="submit" form="form_id" class="btn btn-danger glyphicon glyphicon-minus" onmousedown="document.form_id.operate.value='delete';" onclick="document.form_id.unique.value='$unique';"> </button>
        </td>
    $elif table=='manager' and each_row['id']==id:
        <td >
        <button type="button" form="form_id" class="btn btn-success glyphicon glyphicon-ok" > </button>
        </td>

	</tr>
</table>
</form>
</div>
